* {
    margin: 0px;
    padding: 0px;
    font-family: Viga;
}

.body {
    background: whitesmoke;
    height: 637px;
}

.main {
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%) translate(-50%);
    width: fixed;
    background: #ffc0cd;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px;
}

.main h2 {
    text-align: center;
    color: rgb(5, 5, 5, );
    text-transform: uppercase;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    border: none;
    background: #070707;
    color: white;
    border-radius: 25px;
}

.btn-green {
    background: rgb(255, 255, 255);
    color: #000000;
}

.textarea {
    width: 204px;
    margin: 4px;
    font-size: 15px;
    padding: 10px;
    border: none;
    color: #607d8b;
    border-radius: 25px;
    text-align: right;
}